<div class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form id="login-section">
            <div class="form-group">
                <label for="username-input"> Enter your Username/Email!</label>
                <input type="text" class="form-control" id="username-input">
            </div>
            <div class="form-group">
                <label for="password-input"> Enter your Password</label>
                <input type="password" class="form-control" id="password-input">
            </div>

            <button type="submit" class="btn btn-info"> Confirm</button>
            <a class="register-redirect" href="/register">Register!</a>
        </form>

    </div>
</div>
<script src="/js/login.js"></script>  